.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    background: rgb(40,40,40);
    height: 80px;
    z-index: 20;
}

.caret-up-down {
    position: absolute;
    top: 22px;
    left: 15px;
    color: #fff;
    z-index: 40;
}